fitz
google-genai
sentence-transformers
langchain
chromadb
langchain-text-splitters
django
celery
redis
pymupdf
python-dotenv
psycopg2-binary
djangorestframework 
djangorestframework-simplejwt
pdfplumber